/* MODULOS */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display:ital,wght@1,400;1,600&display=swap");
@media only screen and (max-width: 1200px) {
  .productos-img {
    display: none; } }

@media only screen and (max-width: 1000px) {
  .imagen-formulario {
    display: none; } }

@media only screen and (max-width: 1000px) {
  .nosotros-img {
    display: none; } }

@media only screen and (max-width: 1000px) {
  .none {
    display: none; } }

/* HERO-MAIN*/
.hero {
  background-image: linear-gradient(rgba(102, 51, 0, 0.6), rgba(153, 102, 51, 0.2)), url(../style/img/heroimage.jpg);
  background-attachment: fixed;
  background-position: center;
  height: 80vh;
  padding-top: 8vh;
  padding-bottom: 30vh;
  margin-top: 15px;
  border-radius: 5px;
  width: 100%; }
  .hero .hero-title {
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Indie Flower", cursive;
    color: coral;
    text-shadow: 1px 1px 1px #000; }
    @media (max-width: 372px) {
      .hero .hero-title {
        font-size: 3rem; } }
  .hero .hero-text {
    font-size: 1.3rem;
    font-family: "Playfair Display", serif;
    line-height: 1.3;
    color: darkslateblue;
    text-shadow: 1px 1px 1px darkblue;
    padding-left: 0.2rem; }

/* TARJETAS */
.cards {
  font-family: "Indie Flower", cursive;
  font-size: 35px;
  margin: 20px;
  color: crimson;
  text-shadow: 1px 1px 1px maroon; }

.card {
  border-radius: 5px;
  background-color: gold;
  margin-bottom: 15px;
  font-family: "Playfair Display", serif; }
  .card .card-title {
    color: mediumseagreen;
    font-family: "Indie Flower", cursive; }

/* Footer */
.footer-container {
  background-color: orangered;
  text-align: center;
  font-family: "Indie Flower", cursive; }
  .footer-container .social {
    margin-top: 15px; }
    .footer-container .social .social-link {
      font-family: "Playfair Display", serif; }
  .footer-container .contacto {
    margin-top: 15px; }
    .footer-container .contacto .contacto-boton {
      margin-top: 15px;
      font-family: "Playfair Display", serif; }
  .footer-container .derechos {
    margin-top: 15px; }
    .footer-container .derechos .derechos-img {
      border-radius: 50px; }
    .footer-container .derechos .derecho-copyright {
      font-family: "Playfair Display", serif; }
  .footer-container .link {
    color: black; }

/* HEADER */
.headerBoostrap {
  background-color: orange;
  /* Logo Sup Link */
  /* Nav Bar */ }
  .headerBoostrap .logo-img {
    border-radius: 50px; }
  .headerBoostrap .nav {
    font-size: 20px;
    font-family: "Playfair Display", serif; }
    .headerBoostrap .nav .nav-link {
      color: purple; }

.slide {
  margin-top: 15px;
  margin-bottom: 15px; }
  .slide .carousel-img {
    height: 65vh;
    border-radius: 10px; }

.clases-cuerpo .clases-info {
  /* BOXS */ }
  .clases-cuerpo .clases-info .clases-title {
    font-size: 50px;
    margin: 20px;
    color: maroon;
    font-family: "Indie Flower", cursive; }
  .clases-cuerpo .clases-info .clases-text {
    font-family: "Playfair Display", serif; }
  .clases-cuerpo .clases-info .clases-box {
    font-family: "Indie Flower", cursive;
    height: 80px;
    border-radius: 25px;
    font-size: 12px;
    margin: 23px;
    color: green;
    -webkit-box-shadow: 4px 0 green inset, 0  4px green inset, -4px 0 green inset, 0  -4px green inset;
    box-shadow: 4px 0 green inset, 0  4px green inset, -4px 0 green inset, 0  -4px green inset; }

.clases-cuerpo .clases-publicidad {
  margin-top: 10px;
  margin-left: -4px; }
  .clases-cuerpo .clases-publicidad .clases-img {
    border-radius: 20px;
    margin-bottom: 5px; }

.imagen-formulario {
  border-radius: 50px;
  margin-top: 10px; }

.form .form-title {
  font-size: 60px;
  margin: 20px;
  color: maroon;
  font-family: "Indie Flower", cursive; }

.form .form-text {
  font-family: "Playfair Display", serif; }

.form .form-group {
  font-family: "Indie Flower", cursive; }

.form .botones {
  margin-bottom: 10px;
  font-family: "Indie Flower", cursive; }

/* PRODUCTOS */
.productos .productos-img {
  margin: 5px; }

.productos .productos-title {
  font-size: 35px;
  margin: 20px;
  color: maroon;
  font-family: "Indie Flower", cursive; }

.productos .productos-stracto {
  font-family: "Playfair Display", serif; }

.stock {
  margin-top: 15px; }
  .stock .stock-col {
    border-radius: 20px;
    text-shadow: 1px 1px 1px #000;
    max-width: 400px; }
    .stock .stock-col .stock-productos {
      border-radius: 5px;
      background-color: crimson;
      text-shadow: 1px 1px 1px black; }
      .stock .stock-col .stock-productos .stock-title {
        font-family: "Indie Flower", cursive; }
      .stock .stock-col .stock-productos .stock-img {
        width: 95%;
        margin-top: 13px;
        border-radius: 5px; }
      .stock .stock-col .stock-productos .stock-img:hover {
        border: 5px solid crimson; }

.alumnado {
  /*GALERIA*/ }
  .alumnado .alumnado-title {
    font-size: 50px;
    margin-bottom: 20px;
    color: maroon;
    font-family: "Indie Flower", cursive; }
  .alumnado .galeria {
    background-color: black; }
    .alumnado .galeria .galeria-container {
      margin: 0 !important;
      padding: 15px; }
      .alumnado .galeria .galeria-container .galeria-img {
        width: 100%;
        height: 243px;
        border-radius: 5px; }
      .alumnado .galeria .galeria-container .galeria-img:hover {
        border: 5px solid black; }

/*MAIN AMIGURUMI*/
.amigurumi-title-principal {
  text-align: center;
  font-size: 60px;
  margin: 25px;
  color: khaki;
  font-family: "Indie Flower", cursive; }

.amigurumi-title {
  font-size: 35px;
  margin: 20px;
  color: maroon;
  font-family: "Indie Flower", cursive; }

.amigurumi-item {
  margin-right: 50px;
  font-family: "Playfair Display", serif; }

.amigurumi-text {
  margin-left: 20px;
  font-family: "Playfair Display", serif; }

.amigurumi-upload {
  margin-left: 45px; }

.amigurumi-img {
  width: 100%;
  border-radius: 20px;
  padding: 15px;
  margin-top: 60px; }

.amigurumi-img-his {
  width: 100%;
  border-radius: 10px;
  margin: 5px; }

/* NOSOTROS */
.nosotros {
  border-radius: 10px;
  margin-top: 20px; }
  .nosotros .nosotros-title {
    font-size: 60px;
    margin: 20px;
    color: maroon;
    font-family: "Indie Flower", cursive; }
  .nosotros .nosotros-text {
    font-family: "Playfair Display", serif; }
  .nosotros .nosotros-img {
    border-radius: 50px;
    margin-bottom: 20px; }

.personal .personal-masters {
  font-size: 35px;
  margin: 20px;
  color: darkslategrey;
  font-family: "Indie Flower", cursive; }

.personal .personal-representante .personal-img {
  padding: 0;
  margin-top: 30px;
  border-radius: 3px; }

.personal .personal-title {
  font-size: 20px;
  margin: 20px;
  color: brown;
  font-family: "Indie Flower", cursive; }

.testimonios .testimonio-title {
  font-size: 35px;
  margin: 20px;
  color: darkslategrey;
  font-family: "Indie Flower", cursive; }

.testimonios .testimonio-text {
  font-family: "Playfair Display", serif; }

.testimonios .testimonio-name {
  font-family: "Indie Flower", cursive; }

ul {
  list-style-type: none;
  font-family: "Playfair Display", serif; }

.bodyBoostrap {
  background-color: yellow; }

.container {
  background-color: darkorange; }
