.alumnado {

    .alumnado-title {
        font-size: 35px;
        margin-bottom: 20px;
        color: slateblue;
        
    }

    /*GALERIA*/

    .galeria {
      background-color: black;

      .galeria-container {
          margin: 0 !important;
          padding: 15px;

          .galeria-img {
              width: $width100;
              height: 243px;
              border-radius: $borderRadius;
          }

          .galeria-img {
              &:hover {
                  border: 5px solid black;
              }
          }
      }
  }
}