
/*MAIN AMIGURUMI*/

.amigurumi-title-principal{
     text-align: center;
     @include fontStyle(35px, 25px, khaki);
 }

 .amigurumi-title {
     @include fontStyle(35px, 20px, maroon);
 }

 .amigurumi-item {
     margin-right: 50px;
 }

 .amigurumi-text {
     margin-left: 20px;
 }

 .amigurumi-upload {
     margin-left: 45px;
 }

 .amigurumi-img {
    width: $width100;
    border-radius: 20px;
    padding: 15px;
    margin-top: 60px;
}

 .amigurumi-img-his {
     width: $width100;
     border-radius: 10px;
 }
