.slide {
  margin-top: 15px;
  margin-bottom: 15px;

  .carousel-img {
    height: 65vh;
    border-radius: 10px
}
}

.clases-cuerpo {

  .clases-info {


    .clases-title {
      @include fontStyle(35px, 20px, maroon);
    }

    /* BOXS */

    .clases-box {
      height: 80px; 
      border-radius: 25px;
      @include fontStyle(12px, 23px, green);
      -webkit-box-shadow: 4px 0 green inset,
     0  4px green inset,
     -4px 0 green inset,
     0  -4px green inset;
              box-shadow: 4px 0 green inset,
     0  4px green inset,
     -4px 0 green inset,
     0  -4px green inset;
    }
  }

  .clases-publicidad {
    margin-top: 10px;
    margin-left: -4px;
    
    .clases-img {
      border-radius: 20px;
      margin-bottom: 5px;
    }
  }
}



