.imagen-formulario {
    border-radius: 50px;
    margin-top: 10px
  }

.form {
  .form-title { 
      @include fontStyle(60px, 20px, maroon);
      font-family: $fontIndie;
  }

  .form-text {
    font-family: $fontPlayfair;
  }

  .form-group {
    font-family: $fontIndie;
  }

  .botones {
    margin-bottom: 10px;
    font-family: $fontIndie;
  }
}

  