/* Footer */
.footer-container {
    background-color: orangered;
    text-align: center;
    font-family: $fontIndie;

    .social {
        margin-top: $marginTop;
        
        .social-link {
            font-family: $fontPlayfair;
        }
    }

    .contacto {
       margin-top: $marginTop;
       
       .contacto-boton {
        margin-top: $marginTop;
        font-family: $fontPlayfair;
    }
    }

    .derechos {
       margin-top: $marginTop;

       .derechos-img {
        border-radius: 50px;
    }
       .derecho-copyright {
        font-family: $fontPlayfair;
       }
    }

    .link {
        color:black;
    }
  }
  