/* Footer */
.footer-container {
    background-color: orangered;
    text-align: center;

    .social {
        margin-top: $marginTop;
    }

    .contacto {
       margin-top: $marginTop;
       
       .contacto-boton {
        margin-top: $marginTop;
    }
    }

    .derechos {
       margin-top: $marginTop;

       .derechos-img {
        border-radius: 50px;
    }
    }
  }
  