
/* HERO-MAIN*/

.hero {
  background-image: linear-gradient(rgba(102,51,0,0.6),rgba(153,102,51,0.2)),url(../style/img/heroimage.jpg);
  background-attachment: fixed;
  background-position: center;
  height: 80vh;
  padding-top: 8vh;
  padding-bottom: 30vh;
  margin-top: $marginTop;
  border-radius: $borderRadius;

 
  .hero-title {
    text-transform: uppercase;
    font-size: 4rem;
    color: coral;
    text-shadow: 1px 1px 1px #000;
  }
  .hero-text {
    font-size: 1.3rem;
    line-height: 1.3;
    color: darkslateblue;
    text-shadow: 1px 1px 1px darkblue;
    padding-left: 0.2rem;
  }
}

/* TARJETAS */

.cards {
      @include fontStyle(35px, 20px, crimson);
      text-shadow: 1px 1px 1px maroon;
}

.card {
  border-radius: $borderRadius;
  background-color: gold;
  margin-bottom: 15px;

  .card-title {
    color: mediumseagreen;
  }
}