@media only screen and (max-width: 1200px) {
    .productos-img {
      display: none;
    }
  }

@media only screen and (max-width: 1000px) {
    .imagen-formulario {
      display: none;
    }
  }

@media only screen and (max-width: 1000px) {
     .nosotros-img {
      display: none;
    }
  }

@media only screen and (max-width: 1000px) {
  .none {
    display: none;
  }
}
