 /* NOSOTROS */
 .nosotros {
    border-radius: 10px;
    margin-top: 20px;
    
    .nosotros-title {
      @include fontStyle(60px, 20px, maroon);
      font-family: $fontIndie;
    }

    .nosotros-text {
      font-family: $fontPlayfair;
    }

    .nosotros-img {
      border-radius: 50px;
      margin-bottom: 20px;
    }
          
  }

  .personal {

    .personal-masters{
      @include fontStyle(35px, 20px, darkslategrey);
      font-family: $fontIndie;
    }

    .personal-representante {
  
        .personal-img {
          padding: 0;
          margin-top: 30px;
          border-radius: 3px;
      }
      }
      .personal-title {
        @include fontStyle(20px, 20px, brown);
        font-family: $fontIndie;
      }
   }
  

  .testimonios {
    .testimonio-title {
      @include fontStyle(35px, 20px, darkslategrey);
      font-family: $fontIndie;
    }
  
    .testimonio-text {
      font-family: $fontPlayfair;
    }
  
    .testimonio-name {
      font-family: $fontIndie;
    }
  }


  