 /* PRODUCTOS */

 .productos {
   
   .productos-title {
    @include fontStyle(35px, 20px, maroon);
   }
 }

 .stock {
   margin-top: $marginTop;

  .stock-col {
    border-radius: 20px;
    text-shadow: 1px 1px 1px #000;
 
    .stock-productos {
     border-radius: $borderRadius;
     background-color:forestgreen;
     text-shadow: 1px 1px 1px #000;
  
  
      .stock-img {
        width: 95%;
        margin-top: 13px;
        border-radius: $borderRadius;
      }
 
      .stock-img {
       &:hover {
         border: 5px solid forestgreen;
     }
      }
   }
  }
 }