/* MODULOS */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display:ital,wght@1,400;1,600&display=swap');

@import "medias";

@import "mixins";

@import "variables";

@import "index";

@import "footer";

@import "header";

@import "clases";

@import "contacto";

@import "productos";

@import "alumnado";

@import "amigurumis";

@import "nosotros";



ul {
  list-style-type: none;
  font-family: $fontPlayfair;
}

.bodyBoostrap {
  background-color: yellow;
}

.container {
  background-color:darkorange;
}

  





  



 

 