/* MODULOS */

@import "mixins";

@import "variables";

@import "index";

@import "footer";

@import "header";

@import "clases";

@import "contacto";

@import "productos";

@import "alumnado";

@import "amigurumis";

@import "nosotros";

ul {
  list-style-type: none;
}

.bodyBoostrap {
  background-color: yellow;
}

.container {
  background-color:darkorange;
}

  





  



 

 